[client]
host='sjin.mysql.pythonanywhere-services.com'
user='sjin'
port=tunnel.local_bind_port
id=16600384
password='8hZ47vU3'
database='sjin$sjin'

-u sjin -h 'sjin.mysql.pythonanywhere-services.com' -p 'sjin$sjin'
