{% extends "privateBase.html" %} {% block main_content %}

  <h1>Hi there <p2>[{{data['name']}}]</p2> !</h1>

  <h2 style="font-size: 200%">Manage your events</h2>

  <button class="collab-button" type="submit" style="float: center; margin-top: 20px">
    <a href="{{url_for('myEvents', id=data['orgid'])}}">Back to My Events</a>
  </button>
  <div id="content">
    <div id="flashes">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div id="messages">
        {% for msg in messages %}
        <p>{{msg}}</p>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>
  </div>

<div class="card-body"  style="text-align: center; float: center">
    {% if rsvps %} {% for rsvp in rsvps %}

   <p style="text-align: center; float: center">
          <h7 class="card-title eName" style="text-align: center; float: center"
            > From {{rsvp['orgName']}} : <p3>{{rsvp['rsvp']}} attending</p3>
          </h7>
        </p>

    {% endfor %} {% else %}
    <p></p>
    <h7 style="text-align: center; float: center"
      >No one has RSVP'd to this event.</h7
    >

    {% endif %}
  </div>

 <button class="a-button">
          <a href="{{url_for('devent', eid=event['eid'])}}">Delete Event</a>
        </button>

  <p></p>
  {% endblock %}
</button>
