{% extends "privateBase.html" %} {% block main_content %}
<h1>Add a Staff</h1>

<div id="form">
  <form
    method="POST"
    action="{{url_for('addStaff', id=data['orgid'])}}"
    enctype="multipart/form-data"
  >
    <p>
      <label
        >Staff Name
        <input name="sName" type="string" step="any" />
      </label>
    </p>
    <p>
      <label
        >Staff Title
        <input name="sTitle" type="string" step="any" />
      </label>
    </p>
    <p>
      <label
        >Staff email
        <input name="sEmail" type="string" step="any" />
      </label>
    </p>
    <p>
      <label
        >Pic
        <input name="pic" type="file" />
      </label>
    </p>
    <p><input type="submit" value="addStaff" /></p>
  </form>
</div>
{% endblock %}
