{% extends "privateBase.html" %} {% block main_content %}

<div id="form" style="margin-top: 120px">
  <h1>
    Hello {{data['name']}}, Send a collab request to {{vdata['name']}} : )
  </h1>
  <form
    method="POST"
    action="{{url_for('collab', id=data['orgid'], vid=vdata['orgid'])}}"
    enctype="multipart/form-data"
  >
    <div style="text-align: center">
      <textarea
        rows="8"
        cols="80"
        name="msg"
        type="string"
        step="any"
      ></textarea>
    </div>
    <p><input type="submit" value="Send Collab Request" /></p>
  </form>
</div>
{% endblock %}
