{% extends "privateBase.html" %} {% block main_content %}
<h1>Create your own events</h1>

<div id="form">
  <form
    method="POST"
    action="{{url_for('createEvents', id=data['orgid'])}}"
    enctype="multipart/form-data"
  >
    <p>
      <label
        >Event Name
        <input name="eName" type="string" step="any" />
      </label>
    </p>
    <p>
      <label
        >Event Date
        <input name="eDate" type="date" id="start" />
      </label>
    </p>
    <p>
      <label
        >Event Time
        <input name="eTime" type="time" step="any" />
      </label>
    </p>
    <p>
      <label
        >Address (Line 1)
        <input name="address1" type="string" step="any" />
      </label>
    </p>
    <p>
      <label
        >Address (Line 2)
        <input name="address2" type="string" step="any" />
      </label>
    </p>
    <p>
      <label
        >City
        <input name="location" type="string" step="any" />
      </label>
    </p>
    <p>
      <label
        >State
        <input name="state" type="string" step="any" />
      </label>
    </p>
    <p>
      <label
        >Zip Code
        <input name="zip" type="string" step="any" />
      </label>
    </p>

     <p>
          <label
            >Event Description
            <textarea
              rows="4"
              cols="50"
              name="eBio"
              type="string"
              step="any"
            ></textarea>
          </label>
        </p>
    <p><input type="submit" value="Create Event" /></p>
  </form>
</div>
{% endblock %}
