{% extends "privateBase.html" %} {% block main_content %}

<div id="content">
  <div id="flashes">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div id="messages">
      {% for msg in messages %}
    <p style="color:#0a2953; text-align: center">{{msg}}</p>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
  </div>
</div>



<h2 class="query">Search by Event Name or City, or Select Date for Events</h2>


<div id="form" >
  <form method="POST" action="{{url_for('events', id=orgInfo['orgid'])}}">
    <label for="search-event">Event Name/City </label>
    <input name="search-event" value="" />
    <p>
      <label>Start Date
        <input name="start-date" type="date" />
      </label>
    </p>
    <p>
      <label>End Date
        <input name="end-date" type="date" />
      </label>
    </p>
    <input type="submit" name="submit-btn" value="Search" />
    <button type="submit">
  <a href="{{url_for('events', id=orgInfo['orgid'])}}">Clear Filter</a>
</button>

  </form>
</div>

<button type="submit">
  <a href="{{url_for('createEvents', id=orgInfo['orgid'])}}">Create an event</a>
</button>

<h1>List of Events:</h1>

  {% for data in events_data %}
<div id="form" class="gradient-border" style="width: 40rem; margin-bottom:50px">
<div class="card-body" data-mid="{{data['eid']}}">
  <p><h7 class="card-title eName">Event Name : <a href={{url_for('singleEvent', id=orgInfo['orgid'], eid=data['eid'])}}><p3>{{data['eName']}} </p3></a></h7></p>
  <p><h7 class="card-title ">Organized by : <a href={{url_for('singleP', id=orgInfo['orgid'], vid=data['orgid'])}}>
    <p3>{{data['orgName']}}</p3>
  </a></h7></p>

  <p><h7 class="card-title eDate eTime">Time : <p3>{{data['eDate']}} {{data['eTime']}}</p3></h7></p>
  <p><h7 class="card-title location">City : <p3> {{data['location']}}</p3></h7></p>
  <p><h7 class="card-title" >RSVP'd : <p3 class="rsvpd">{{data['rsvp']}}</p3></h7></p>
  <p><a href={{url_for('singleEvent', id=orgInfo['orgid'], eid=data['eid'])}}><p3>Learn More</p3></a></p>


</div>
</div>
<p></p>

  {% endfor %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  $(".card-body").on("click", ".rsvp-button", function (event) {
    var people = prompt('How many people from your organization would like to attend this event?');
    var eid =  $(this).closest("div").attr('data-mid');
    sendData(people, eid);
  });


  function sendData(people, eid) {
      console.log("Sending people " + people + " and eid " + eid + " to the back end");
     $.post("{{url_for('rsvp',id=orgInfo['orgid'])}}", { 'eid': eid, 'num': people }, update_page, 'json');
    }

  function update_page(obj) {
        eid = obj.eid;
        num = obj.num;
        $("[data-mid=" + eid + "]").find(".rsvpd").text(num);
    }
</script>

{% endblock %}

</body>

</html>