{% extends "privateBase.html" %} {% block main_content %}
<h1>Post a question:</h1>
<div id="form">
  <form
    method="POST"
    action="{{url_for('ppost', id=data['orgid'])}}"
    enctype="multipart/form-data"
  >
    <p>
      <label
        >theme
        <input name="theme" type="string" step="any" />
      </label>
    </p>
    <p>
      <label
        >content
        <textarea
          rows="4"
          cols="50"
          name="thing"
          type="string"
          step="any"
        ></textarea>
      </label>
    </p>
    <p><input type="submit" value="Post" /></p>
  </form>
</div>
{% endblock %}
