{% extends "privateBase.html" %} {% block main_content %}

  <h1>Hi there <p2>[{{data['name']}}]</p2> !</h1>

  <h2 style="font-size: 200%">Manage your events</h2>

  <button class="collab-button" type="submit" style="float: center; margin-top: 20px">
    <a href="{{url_for('home', id=data['orgid'])}}">Back to Home</a>
  </button>
  <div id="content">
    <div id="flashes">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div id="messages">
        {% for msg in messages %}
        <p>{{msg}}</p>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>
  </div>

  <div class="card-body">
    {% if events %} {% for event in events %}
    <div
      id="form"
      class="gradient-border"
      style="width: 40rem; margin-bottom:50px; margin-top: 40px"
    >
      <div class="card-body" data-mid="{{data['eid']}}">
        <p>
          <h7 class="card-title eName"
            >Event Name : <p3>{{event['eName']}} </p3>
          </h7>
        </p>
        <p>
          <h7 class="card-title"
            >RSVP'd : <p3 class="rsvpd">{{event['rsvp']}}</p3>
          </h7>
        </p>
        <!-- <h7 class="card-title rsvp"><a href={{url_for('rsvp', eid=data['eid'])}}>   RSVP</a></h7> -->
        <button class="a-button">
          <a href="{{url_for('devent', eid=event['eid'])}}">Delete Event</a>
        </button>
      </div>
    </div>
    <p></p>

    {% endfor %} {% else %}
    <p></p>
    <h7 style="text-align: center; float: center"
      >You have not started any events.</h7
    >

    {% endif %}
  </div>

  <p></p>
  {% endblock %}
</button>
