{% extends "privateBase.html" %} {% block main_content %}


    <h1>Hi there <p2>[{{data['name']}}]</p2> !</h1>

    <h2>Welcome Back !</h2>

    <div id="content">
      <div id="flashes">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div id="messages">
          {% for msg in messages %}
          <p style="color:#0a2953; text-align: center">{{msg}}</p>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}
      </div>
    </div>
    <button
      class="collab-button"
      type="submit"
      style="margin-bottom: 50px; margin-right: 30px"
    >
      <a href="{{url_for('myProfile', id=data['orgid'])}}">My Profile</a>
    </button>

    <div
      id="form"
      class="gradient-border"
      style="width: 60rem; background-color: #dc7f54"
    >
      <div class="card-body">
        <h7 class="card-title">What's New</h7>
        {% if pnum+enum==0 %}
        <p>
          <h7 class="card-title" style="font-style: italic;"
            >No new information has been posted since the last time you logged
            out.</h7
          >
        </p>
        {% endif %}{% if events %}
        <div id="form" style="width: 50rem; margin-top: 50px">
          <p>
            <h7
              >New Events Posted:
              <h7 style="color:red; font-size: 100%">({{enum}})</h7></h7
            >
          </p>
          <ul>
            {% for event in events %}

            <li>
              <h5 class="card-title ">
                * At {{event['postedat']}},
                <p10>{{event['orgName']}} </p10>posted
                <p10>{{event['eName']}} </p10> ({{event['rsvp']}} RSVPs)
              </h5>
            </li>

            {% endfor %}
          </ul>
        </div>
        {% endif %} {% if posts %}
        <div id="form" style="width: 50rem; margin-top: 50px">
          <p>
            <h7
              >New Posts in Forum:
              <h7 style="color:red; font-size: 100%">({{pnum}})</h7></h7
            >
          </p>
          <ul>
            {% for data in posts %}
            <li>
              <h5 class="card-title ">
                * At {{data['postedatt']}},
                <p10> {{data['poster']}} </p10>posted: {{data['thing']}}
              </h5>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>



{% endblock %}
