{% extends "privateBase.html" %} {% block main_content %}

<div id="form" class="gradient-border" style="width: 60rem; margin-top: 150px">
  <div class="card-body">
    <div id="content" style="margin-top: 20px">
      <div id="flashes">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div id="messages">
          {% for msg in messages %}
          <p style="color:#0a2953; text-align: center">{{msg}}</p>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}
      </div>
    </div>

    <div class="card-body">
      <h7 class="orgName" style="font-size: 300%">{{vdata['name']}}</h7>
      <button class="collab-button" type="submit" style="float:right">
        <a href="{{url_for('collab', vid=vdata['orgid'], id=data['orgid'])}}"
          >Click here to collab with me on an event</a
        >
      </button>
      <p>
        <img
          src="{{url_for('pic', id=vdata['orgid'])}}"
          alt="error"
          width="250"
          height="200"
        />
      </p>

      <p6 class="card-text title">
        About Us : <p6 class="entry">{{vdata['bio']}}</p6>
      </p6>
      <p></p>

      <p6 class="title">
        Link to Our Website : <p6 class="entry">{{vdata['link']}} </p6>
      </p6>
      <p></p>
      <p6 class="card-text title"
        >Email :
        <p6 class="entry">{{vdata['orgMail']}}</p6>
      </p6>
      <p></p>
      <p6 class="card-text title"
        >Cell :
        <p6 class="entry">{{vdata['cell']}}</p6>
      </p6>
      <p></p>
      <h2 class="title" style="text-align: left;">Our Staff</h2>
      <div id="container">
        {% for staff in staff_data %}
        <!-- <div id="form" style="width: 10rem; text-align: left "> -->
        <div id="staff-card">
          <div class="card-body">
            <p>
              <img
                style="border-radius: 50%;"
                src="{{url_for('spic', sid=staff['sid'])}}"
                alt="error"
                width="150"
                height="150"
              />
            </p>
            <h5 style="font-size: 120%">Name: {{staff['sName']}}</h5>
            <h5 style="font-size: 120%">Title: {{staff['sTitle']}}</h5>
            <h5 style="font-size: 120%">Email: {{staff['sEmail']}}</h5>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
